<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Configuration</title>
  <link rel="stylesheet" href="./bulma.css" />
</head>

<body>

  <section class="section">
    <div class="container">
      <h1 class="title">Configuration</h1>
      <div class="box">
        <h2 class="subtitle">How to get your Developer ID:</h2>
        <div class="content">
          <ol>
            <li>Access To <a href="#" class="external-link" data-href="https://api.iijmio.jp/">https://api.iijmio.jp/</a></li>
            <li>Create Developer ID.</li>
            <li>Set up your miopon App.</li>
          </ol>
        </div>
      </div>

      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" id="developer-id" placeholder="Developer ID..." />
        </div>
        <div class="control">
          <button class="button is-primary" type="button" id="register">Save</button>
        </div>
      </div>
      <div class="content">
        <p>Developer ID will be saved locally and you will be asked your credentials to get access token for IIJMio API.</p>
      </div>

    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Electron Miopon</strong> by <a href="https://github.com/kamataryo">kamataryo</a>.
      </p>
    </div>
  </footer>

  <script src="./script.js"></script>
  <script>
    const {
      ipcRenderer
    } = require('electron')

    const button = document.getElementById('register')
    const input = document.getElementById('developer-id')

    button.addEventListener('click', () => {
      const developerId = input.value
      ipcRenderer.send('developer_id', developerId)
    })
  </script>
</body>

</html>