<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>License</title>
  <link rel="stylesheet" href="./bulma.css" />
</head>

<body>


  <section class="section">
    <div class="container">
      <h1 class="title">License</h1>
      <div class="content">
        <dl>
          <dt>Material Design Icons by Google</dt>
          <dd><a href="#" class="external-link" data-href="https://github.com/google/material-design-icons/blob/master/LICENSE">Apache License 2.0</a></dd>
        </dl>
        <dl>
          <dt>Others</dt>
          <dd>See dependencies described on <a href="#" class="external-link" data-href="https://github.com/kamataryo/electron-miopon">source code</a>.</dd>
        </dl>

      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Electron Miopon</strong> by <a href="https://github.com/kamataryo">kamataryo</a>.
      </p>
    </div>
  </footer>

  <script src="./script.js"></script>
</body>

</html>